<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Presentation</title>

    <meta charset='utf-8'>
    <!-- <link rel="stylesheet" href="../stylesheets/styles.css" type="text/css"> -->
    <script src="../slides.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <script -->
      <!-- src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script> -->
    <!-- <link rel='stylesheet' href='../custom.css' type='text/css'>  -->
  </head>

  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */


  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>

      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->

      <article>
        <h1>Designing with Code</h1>
        <h5>A FramerJS workshop for designers</h5>

        <span class="date">October 18, 2015</span>
        <span class="follow">Follow along at <a href="https://moaazsidat.com/framer">moaazsidat.com/framer</a></span>

        <span class="author"><a href="https://twitter.com/moaazsidat">@moaazsidat</a>
        </span>

      </article>

      <article>
        <h3>What we'll cover today</h3>

        <ul>
          <li>Why prototype? Why Framer?</li>
          <li>Some cool stuff built with Framer</li>
          <li>Let's build</li>
          <li>More goodies</li>
        </ul>
      </article>

      <article>
        Third
      </article>

      <article>
        Fourth
      </article>

      <article>
        Fifth
      </article>

      <article>
        Thank you!
      </article>

    </section>

  </body>
</html>
