@charset "UTF-8";
/*
  Google HTML5 slides template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)

           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
*/
/* Framework */
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,700,800,900);
/* line 20, ../sass/styles.scss */
* {
  box-sizing: border-box;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 25, ../sass/styles.scss */
html {
  height: 100%;
}

/* line 29, ../sass/styles.scss */
a {
  text-decoration: none;
}

/* line 33, ../sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  display: block !important;
  height: 100%;
  min-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #d7d7d7;
  -webkit-font-smoothing: antialiased;
}

/* line 52, ../sass/styles.scss */
.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 63, ../sass/styles.scss */
.slides > article {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1080px;
  height: 640px;
  left: 50%;
  top: 50%;
  padding: 40px 60px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease-out;
  -webkit-transition: -webkit-transform .3s ease-out;
}

/* line 90, ../sass/styles.scss */
.slides.layout-widescreen > article {
  margin-left: -550px;
  width: 1100px;
}

/* line 94, ../sass/styles.scss */
.slides.layout-faux-widescreen > article {
  margin-left: -550px;
  width: 1100px;
  padding: 40px 160px;
}

/* line 101, ../sass/styles.scss */
.slides.template-default > article:not(.nobackground):not(.biglogo) {
  background-color: white;
}

/* line 105, ../sass/styles.scss */
.slides.template-io2011 > article:not(.nobackground):not(.biglogo) {
  background: url(images/colorbar.png) 0 600px repeat-x;
  background-size: 100%, 225px;
  background-color: white;
}

/* line 112, ../sass/styles.scss */
.slides.layout-widescreen > article:not(.nobackground):not(.biglogo),
.slides.layout-faux-widescreen > article:not(.nobackground):not(.biglogo) {
  background-position-x: 0, 840px;
}

/* Clickable/tappable areas */
/* line 119, ../sass/styles.scss */
.slide-area {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: 700px;
  left: 50%;
  top: 50%;
  cursor: pointer;
  margin-top: -350px;
  tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* line 139, ../sass/styles.scss */
#prev-slide-area {
  margin-left: -550px;
}

/* line 142, ../sass/styles.scss */
#next-slide-area {
  margin-left: 400px;
}

/* line 145, ../sass/styles.scss */
.slides.layout-widescreen #prev-slide-area,
.slides.layout-faux-widescreen #prev-slide-area {
  margin-left: -650px;
}

/* line 149, ../sass/styles.scss */
.slides.layout-widescreen #next-slide-area,
.slides.layout-faux-widescreen #next-slide-area {
  margin-left: 500px;
}

/* Slide styles */
/* Slides */
/* line 157, ../sass/styles.scss */
.slides > article {
  display: none;
}

/* line 160, ../sass/styles.scss */
.slides > article.far-past {
  display: block;
  -webkit-transform: translate(-3360px, -50%);
      -ms-transform: translate(-3360px, -50%);
          transform: translate(-3360px, -50%);
}

/* line 165, ../sass/styles.scss */
.slides > article.past {
  display: block;
  -webkit-transform: translate(-1680px, -50%);
      -ms-transform: translate(-1680px, -50%);
          transform: translate(-1680px, -50%);
}

/* line 169, ../sass/styles.scss */
.slides > article.current {
  display: block;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 173, ../sass/styles.scss */
.slides > article.next {
  display: block;
  -webkit-transform: translate(600px, -50%);
      -ms-transform: translate(600px, -50%);
          transform: translate(600px, -50%);
}

/* line 177, ../sass/styles.scss */
.slides > article.far-next {
  display: block;
  -webkit-transform: translate(1200px, -50%);
      -ms-transform: translate(1200px, -50%);
          transform: translate(1200px, -50%);
}

/* line 182, ../sass/styles.scss */
.slides.layout-widescreen > article.far-past,
.slides.layout-faux-widescreen > article.far-past {
  display: block;
  -ms-transform: translate(-2260px);
      transform: translate(-2260px);
  -o-transform: translate(-2260px);
  -moz-transform: translate(-2260px);
  -webkit-transform: translate3d(-2260px, 0, 0);
}

/* line 190, ../sass/styles.scss */
.slides.layout-widescreen > article.past,
.slides.layout-faux-widescreen > article.past {
  display: block;
  -ms-transform: translate(-1130px);
      transform: translate(-1130px);
  -o-transform: translate(-1130px);
  -moz-transform: translate(-1130px);
  -webkit-transform: translate3d(-1130px, 0, 0);
}

/* line 198, ../sass/styles.scss */
.slides.layout-widescreen > article.current,
.slides.layout-faux-widescreen > article.current {
  display: block;
  -ms-transform: translate(0);
      transform: translate(0);
  -o-transform: translate(0);
  -moz-transform: translate(0);
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 206, ../sass/styles.scss */
.slides.layout-widescreen > article.next,
.slides.layout-faux-widescreen > article.next {
  display: block;
  -ms-transform: translate(1130px);
      transform: translate(1130px);
  -o-transform: translate(1130px);
  -moz-transform: translate(1130px);
  -webkit-transform: translate3d(1130px, 0, 0);
}

/* line 214, ../sass/styles.scss */
.slides.layout-widescreen > article.far-next,
.slides.layout-faux-widescreen > article.far-next {
  display: block;
  -ms-transform: translate(2260px);
      transform: translate(2260px);
  -o-transform: translate(2260px);
  -moz-transform: translate(2260px);
  -webkit-transform: translate3d(2260px, 0, 0);
}

/* Styles for slides */
/* line 225, ../sass/styles.scss */
.slides > article {
  color: #666666;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}

/* line 235, ../sass/styles.scss */
b {
  font-weight: 600;
}

/* line 239, ../sass/styles.scss */
.blue {
  color: #0066cc;
}

/* line 242, ../sass/styles.scss */
.yellow {
  color: #ffd319;
}

/* line 245, ../sass/styles.scss */
.green {
  color: #008a35;
}

/* line 248, ../sass/styles.scss */
.red {
  color: red;
}

/* line 251, ../sass/styles.scss */
.black {
  color: black;
}

/* line 254, ../sass/styles.scss */
.white {
  color: white;
}

/* line 258, ../sass/styles.scss */
a {
  color: #0066cc;
}

/* line 261, ../sass/styles.scss */
a:visited {
  color: rgba(0, 102, 204, 0.75);
}

/* line 264, ../sass/styles.scss */
a:hover {
  color: black;
}

/* line 268, ../sass/styles.scss */
p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

/* line 274, ../sass/styles.scss */
p:first-child {
  margin-top: 0;
}

/* line 278, ../sass/styles.scss */
h1 {
  font-size: 1.8em;
  line-height: 42px;
  padding: 0;
  margin: 0;
  margin-top: 120px;
  margin-left: 42px;
  font-weight: 400;
  color: #333333;
}

/* line 291, ../sass/styles.scss */
h5 {
  margin-left: 42px;
  font-weight: 600;
  margin-bottom: 80px;
}

/* line 297, ../sass/styles.scss */
.date, .follow {
  display: block;
  font-size: 0.8em;
  margin-left: 42px;
}

/* line 303, ../sass/styles.scss */
.author {
  display: block;
  font-size: 0.8em;
  margin-left: 42px;
  margin-top: 100px;
}

/* line 310, ../sass/styles.scss */
h2 {
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 150px;
  padding: 0;
  margin: 0;
  padding-right: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #333333;
}

/* line 328, ../sass/styles.scss */
h3 {
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  padding-right: 40px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #333333;
}

/* line 344, ../sass/styles.scss */
article.fill h3 {
  background: rgba(255, 255, 255, 0.75);
  padding-top: .2em;
  padding-bottom: .3em;
  margin-top: -.2em;
  margin-left: -60px;
  padding-left: 60px;
  margin-right: -60px;
  padding-right: 60px;
}

/* line 355, ../sass/styles.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-left: .75em;
}

/* line 364, ../sass/styles.scss */
ul:first-child {
  margin-top: 0;
}

/* line 367, ../sass/styles.scss */
ul ul {
  margin-top: .5em;
}

/* line 370, ../sass/styles.scss */
li {
  padding: 0;
  margin: 0;
  margin-bottom: .5em;
}

/* line 376, ../sass/styles.scss */
li::before {
  content: '·';
  width: .75em;
  margin-left: -.75em;
  position: absolute;
}

/* line 385, ../sass/styles.scss */
pre {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 5px 10px;
  letter-spacing: -1px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* line 405, ../sass/styles.scss */
code {
  font-size: 95%;
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  color: black;
}

/* line 412, ../sass/styles.scss */
iframe {
  width: 100%;
  height: 620px;
  background: white;
  border: 1px solid silver;
  margin: -1px;
  /*box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1);*/
}

/* line 423, ../sass/styles.scss */
h3 + iframe {
  margin-top: 40px;
  height: 540px;
}

/* line 428, ../sass/styles.scss */
article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index: -1;
}

/* line 446, ../sass/styles.scss */
article.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  z-index: -1;
}

/* line 460, ../sass/styles.scss */
img.centered {
  margin: 0 auto;
  display: block;
}

/* line 465, ../sass/styles.scss */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

/* line 470, ../sass/styles.scss */
th {
  font-weight: 600;
  text-align: left;
}

/* line 474, ../sass/styles.scss */
td,
th {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  vertical-align: top;
}

/* line 481, ../sass/styles.scss */
.source {
  position: absolute;
  left: 60px;
  top: 644px;
  padding-right: 175px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px;
}

/* line 492, ../sass/styles.scss */
q {
  display: block;
  font-size: 60px;
  line-height: 72px;
  margin-left: 20px;
  margin-top: 100px;
  margin-right: 150px;
}

/* line 502, ../sass/styles.scss */
q::before {
  content: '“';
  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;
  font-size: 90px;
  color: silver;
}

/* line 514, ../sass/styles.scss */
q::after {
  content: '”';
  position: absolute;
  margin-left: .1em;
  font-size: 90px;
  color: silver;
}

/* line 523, ../sass/styles.scss */
div.author {
  text-align: right;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 150px;
}

/* line 530, ../sass/styles.scss */
div.author::before {
  content: '—';
}

/* Size variants */
/* line 536, ../sass/styles.scss */
article.smaller p,
article.smaller ul {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

/* line 542, ../sass/styles.scss */
article.smaller table {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

/* line 547, ../sass/styles.scss */
article.smaller pre {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
}

/* line 552, ../sass/styles.scss */
article.smaller q {
  font-size: 40px;
  line-height: 48px;
}

/* line 556, ../sass/styles.scss */
article.smaller q::before,
article.smaller q::after {
  font-size: 60px;
}

/* Builds */
/* line 563, ../sass/styles.scss */
.build > * {
  transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -webkit-transition: opacity 0.5s ease-in-out 0.2s;
}

/* line 570, ../sass/styles.scss */
.to-build {
  opacity: 0;
}

/* Pretty print */
/* line 576, ../sass/styles.scss */
.prettyprint .str,
.prettyprint .atv {
  /* a markup attribute value */
  color: #008a35;
}

/* line 580, ../sass/styles.scss */
.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc;
}

/* line 584, ../sass/styles.scss */
.prettyprint .com {
  /* a comment */
  color: #7f7f7f;
  font-style: italic;
}

/* line 588, ../sass/styles.scss */
.prettyprint .lit {
  /* a literal value */
  color: #7f0000;
}

/* line 591, ../sass/styles.scss */
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #7f7f7f;
}

/* line 596, ../sass/styles.scss */
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  /* a declaration; a variable name */
  color: #7f007f;
}
